body{
  overflow: hidden;
}

#circle{
  display: none;
  animation: circle 2s infinite;
  background-color: gray;
  width: 35px;
  height: 35px;
  opacity: .5;
  border-radius: 100%;
  position: absolute;
}

@keyframes circle{
  0% {
      transform: scale(.95);
      box-shadow: 0 0 0 0 gray;
  }
  70% {
      transform: scale(1);
      box-shadow: 0 0 0 15px lightgray;
  }
  100% {
      transform: scale(.95);
      box-shadow: 0 0 0 0 10px gray;
  }
}
